@page "/directory"

<PageTitle>Directory | Illinois</PageTitle>

<h1>How do I create a directory?</h1>
<p>The easiest way is to do the following:</p>
<ol>
    <li>Claim your unit. <a href="https://go.illinois.edu/itpartners-directory-help">Contact us to ask to be a unit administrator for your unit</a>.</li>
    <li>Under <em>Unit Information</em> -- <em>Links to Pull Information</em>, add an Internal Code. Save your changes. </li>
    <li>Under <em>Unit Information</em> -- <em>Internal Information</em>, change Profile Information to Full Access.</li>
    <li>Change the <strong>Profile Url</strong> to the webpage and path you are going to have your profile be at.</li>
    <li>Change the <strong>Profile Refresh Options</strong> to Default Faculty Load</li>
    <li>Ensure the <strong>Auto-load profiles to directory hook</strong> checkbox is checked.</li>
    <li>Save your changes.</li>
    <li>Build out your offices and profile information.</li>
</ol>

<p>Once you have done this, any people you add to your offices will be automatically loaded to the faculty load using the unique ID you specified in step 2. You can add JavaScript to create profiles based on this from any CMS. People will be automatically loaded once they save information in their profile in this application, and we run full refreshes every day. If someone's name is removed from EDW or the profile list here, their information is removed from the directory.</p>

<p>If you have another system that loads your faculty information, you can trigger that in step 5 instead of using the Default Faculty Load.</p>

<p>If you don't have the IT staff to build out a JavaScript profile, we can help you with this. We are working with WIGG and the WCOE to create standard profiles.</p>

<h2>Directory Export</h2>
<p>While <a href="https://directoryapi.wigg.illinois.edu/api/swagger/ui">the Directory API</a> can export most of the data concerning the area, office, and directory information, there are some instances where you need to get raw HTML or binaries instead of JSON. To handle that, we have a few links within the Directory application itself that can support that.</p>
<h3>Picture</h3>
<p>To get your picture, go to <em>https://directory.wigg.illinois.edu/picture/(netid)</em> -- this will send you a binary of your image in a webp format. If the Net ID could not be found, it will show a generic image of a person.</p>
<h3>Illinois Directory Snippet</h3>
<p>To get your directory information, go to <em>https://directory.wigg.illinois.edu/campusexport/(internal-code)/(netid)</em> -- this will send you HTML code that matches the format for the Illinois Directory to import. The internal code can be found using the <a href="https://directory.wigg.illinois.edu/unit/directory">Links to Pull Information</a> in the Directory Application.</p>
