@inherits LayoutComponentBase
@layout SidebarLayout
<CascadingValue Value="this">
<ilw-columns mode="sidebar-left" gap="44px" width="page">
    <div slot="sidebar">
        <ilw-section-nav>
            <span class="ilw-section-nav--root">Search</span>
            <a title="Search for People" aria-current="@(BaseUrl == "/search/people" ? "page" : null)" href="/search/people">Search for People</a>
            <a title="Search for Offices" aria-current="@(BaseUrl == "/search/offices" ? "page" : null)" href="/search/offices">Search for Offices</a>
            <a title="Search for Units" aria-current="@(BaseUrl == "/search/units" ? "page" : null)" href="/search/units">Search for Units</a>
            <a title="Search for Units" aria-current="@(BaseUrl == "/search/logs" ? "page" : null)" href="/search/logs">Logs</a>
        </ilw-section-nav>
        <LoginInformation></LoginInformation>
    </div>
    <ilw-content>
        @Body
    </ilw-content>
</ilw-columns>
</CascadingValue>