@inherits LayoutComponentBase
@layout SidebarLayout
<CascadingValue Value="this">
<ilw-columns mode="sidebar-left" gap="44px" width="page">
    <div slot="sidebar">
        <ilw-section-nav>
            <span class="ilw-section-nav--root">Administration</span>
            <a title="Add and Remove Units" aria-current="@(BaseUrl == "/admin/units" ? "page" : null)" href="/admin/units">Add and Remove Units</a>
            <a title="Global Administrators" aria-current="@(BaseUrl == "/admin/users" ? "page" : null)" href="/admin/users">Global Administrators</a>
        </ilw-section-nav>
        <LoginInformation></LoginInformation>
    </div>
    <ilw-content>
        @Body
    </ilw-content>
</ilw-columns>
</CascadingValue>