<AuthorizeView>
    <Authorized>
        <ul class="ilw-buttons">
            <li><MainPageButton></MainPageButton></li>
            <li><ViewProfile></ViewProfile></li>
            <li><a class="ilw-button" href="MicrosoftIdentity/Account/SignOut">Sign Out</a></li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="ilw-buttons">
        <li><MainPageButton></MainPageButton></li>
        <li><a href="MicrosoftIdentity/Account/SignIn">Log in</a></li>
        </ul>
    </NotAuthorized>
</AuthorizeView>
