@inherits LayoutComponentBase

 <ilw-page>
    <ilw-header slot="header">
        <a slot="primary-unit" href="https://itpartners.illinois.edu">IT Partners</a>
        <a slot="site-name" href="/">IT Partners Directory Application</a>
        <div slot="links">
            <LoginDisplay />
        </div>
        <NavMenu />
    </ilw-header>
    <main>
        <ilw-content width="page" class="iled-section iled-section-full">
        @Body
        </ilw-content>
    </main>
    <ilw-footer slot="footer">
        <a slot="primary-unit" href="https://itpartners.illinois.edu/">IT Partners</a>
        <a slot="site-name" href="/">IT Partners Directory Application</a>
        <div slot="actions"><a href="https://go.illinois.edu/itpartners-directory-help">Report a Problem</a></div>
    </ilw-footer>
</ilw-page>