<ilw-header-menu slot="navigation">
    <ul>
        @if (FullSecurityItem?.IsFullAdmin ?? false) {
            <li>
                <ilw-header-menu-section>
                    <span slot="label">Administrators</span>
                    <ul>
                        <li><a href="/admin/units">Add and Remove Units</a></li>
                        <li><a href="/admin/users">Global Administrators</a></li>
                    </ul>
                </ilw-header-menu-section>
            </li>
        }
        @if (FullSecurityItem?.IsUnitAdmin ?? false) {
            <li>
                <ilw-header-menu-section>
                    <span slot="label">Unit Information</span>
                    <ul>
                        <li><a href="/unit/general">General Information</a></li>
                        <li><a href="/unit/offices">Add and Remove Offices</a></li>
                        <li><a href="/unit/users">Unit Administrators</a></li>
                        <li><a href="/unit/internal">Internal Information</a></li>
                        <li><a href="/unit/tags">Tag Information</a></li>
                        <li><a href="/unit/directory">Links to Pull Information</a></li>
                    </ul>
                </ilw-header-menu-section>
            </li>

        }
        @if (FullSecurityItem?.IsOfficeAdmin ?? false) {
            <li>
                <ilw-header-menu-section>
                    <span slot="label">Office Information</span>
                    <ul>
                        <li><a href="/office/general">General Information</a></li>
                        <li><a href="/office/hours">Office Hours</a></li>
                        <li><a href="/office/people">People</a></li>
                        <li><a href="/office/peoplebatch">People Batch Load</a></li>
                        <li><a href="/office/users">Office Administrators</a></li>
                        @if (FullSecurityItem?.IsUnitAdmin ?? false) {
                            <li><a href="/office/internal">Internal Information</a></li>
                            <li><a href="/office/directory">Links to Pull Information</a></li>
                        }
                    </ul>
                </ilw-header-menu-section>
            </li>

        }
        @if (FullSecurityItem?.HasProfile ?? false) {
            <li>

                <ilw-header-menu-section>
                    <span slot="label">My Profile</span>
                    <ul>
                        <li><a href="/profile/general/personal">General Information</a></li>
                        <li><a href="/profile/job/personal">Job / Position Information</a></li>
                        <li><a href="/profile/headshot/personal">Headshot</a></li>
                        <li><a href="/profile/cv/personal">CV/Resume</a></li>
                        <li><a href="/profile/biography/personal">Biography</a></li>
                        <li><a href="/profile/hours/personal">Office Hours</a></li>
                        <li><a href="/profile/activities/personal">Activities</a></li>
                        <li><a href="/profile/courses/personal">Courses</a></li>
                        <li><a href="/profile/signature/personal">Generate Email Signature</a></li>
                    </ul>
                </ilw-header-menu-section>
            </li>
        }
        <li>
            <ilw-header-menu-section>
                <span slot="label">Search Information</span>
                <ul>
                    <li><a href="/search/people">Search for People</a></li>
                    <li><a href="/search/offices">Search for Offices</a></li>
                    <li><a href="/search/units">Search for Units</a></li>
                    <li><a href="/search/logs">Logs</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Contact Us</span>
                <ul>
                    <li><a href="/viewadmin">Helpful Resources</a></li>
                    <li><a href="/history">About This Project</a></li>
                    <li><a href="/directory">Creating a Directory</a></li>
                    <li><a href="/illinoisexperts">Illinois Experts Integration</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
    </ul>
</ilw-header-menu>
